<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Results</title>
    <style>
        ::-webkit-scrollbar {
            width: 8px;
            height: 10px;
            cursor: pointer;
            overflow: hidden;
        }

        ::-webkit-scrollbar-track {
            background-color: rgba(194, 180, 180, 0.1);
            cursor: pointer;
            overflow: hidden;
        }

        ::-webkit-scrollbar-thumb {
            cursor: pointer;
            background-color: #4e5357;
            overflow: hidden;
        }

        label {
            font-size: 1.5rem;
            font-weight: bold;
        }

        input[type="text"] {
            padding: 10px;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 300px;
        }

        button {
            background-color: #4caf50;
            color: white;
            padding: 10px;
            font-size: 1rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        .video-container {
            position: relative;
            width: 100%;
            margin-top: 10px;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #5c5151;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked + .slider {
            background-color: #2196F3;
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        tailwind.config = {
            darkMode: 'class'
        }
    </script>
</head>
<body class="bg-gray-100 font-sans dark:bg-gray-800">
    <div class="container mx-auto mt-10">
        <form method="get" action="{% url 'search-results-youtube' %}" class="w-full flex gap-4 items-center ml-2 mb-8">
            {% csrf_token %}
            <label for="search_keywords" class="text-xl font-bold dark:text-gray-300">Search Keywords:</label>
            <input type="text" id="search_keywords" name="search_keywords" required>
            <!-- <button type="submit">Search</button> -->
            <div class="flex items-center gap-4">
                <label for="theme-setting" class="dark:text-gray-300">Dark</label>
                <label class="switch">
                    <input type="checkbox" checked id="theme-setting">
                    <span class="slider round"></span>
                </label>
            </div>
        </form>
        <div>
            <div class="mb-8">
                <div class="w-full mb-4">
                    <div class="w-full flex sm:justify-end justify-center">
                        <div class="w-full">
                            {% for comment in comments %}
                                <div class="bg-white p-4 rounded shadow mb-2 w-full flex flex-row items-center justify-between gap-4" data-video-id="{{comment.snippet.videoId}}">
                                    <div class="flex gap-4 items-center">
                                        <a href="https://www.youtube.com/watch?v={{comment.snippet.videoId}}" class="text-xl font-bold" target="_blank">
                                            Video
                                        </a>
                                        <div>
                                            <p class="text-gray-800">{{ comment.snippet.topLevelComment.snippet.textDisplay|safe }}</p>
                                            <a class="text-gray-600" target="_blank" href="{{comment.snippet.topLevelComment.snippet.authorChannelUrl}}">
                                                {{ comment.snippet.topLevelComment.snippet.authorDisplayName }}
                                            </a>
                                            <p class="text-gray-600">{{ comment.snippet.topLevelComment.snippet.publishedAt }}</p>
                                        </div>
                                    </div>
                                    <a href="https://www.youtube.com/watch?v={{video.id.videoId}}&lc={{comment.id}}" target="_blank" class="text-xl font-bold">Reply</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            document.documentElement.classList.add('dark')
            const search = window.location.search

            const params = new URLSearchParams(search)
            const search_keywords = params.get('search_keywords')

            if (search_keywords) {
                $('#search_keywords').val(search_keywords)
            }

            $('#theme-setting').change((e) => {
                const dark_checked = e.target.checked
                if (dark_checked) {
                    document.documentElement.classList.add('dark')
                } else {
                    document.documentElement.classList.remove('dark')
                }
            })
            // $(".youtube-topic").click(function () {
            //     var selectedTopic = $(this).data("video-id")
                
            //     // Hide all comments
            //     $(".comment-container").hide()

            //     // // Show only comments for the selected topic
            //     $(".comment-container[data-video-id='" + selectedTopic + "']").show()
            // })
            // $(".youtube-topic:first").click()
        })
    </script>
</body>
</html>
